body {
     background-color: rgb(123, 124, 27);
     
    }
    
    .pp {
      text-align: center;
      width: 450px;
      border:solid;
      border-color: darkkhaki;
      border-radius: 50px;
      background-color: rgb(12, 56, 12);
      color: gold;
  
}
.p {
  
  font-size: 20px;
  padding: 20px;
  
  
}


.h5 {
  
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.name {
  
  color: white;
  font-size: 40px;
}


.h1 {
  
  color: gold;
  border: solid;
  border-color: darkkhaki;
  border-radius: 20px;
  width:500px;
  text-align: center;
  background-color: rgb(12, 56, 12);
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  padding: 10px;
  margin-top: 10px;
}
span {

  color: gold;
}



.ld {
  color: gold;
  background-color: rgb(12, 56, 12);
  border:solid;
  border-color: darkkhaki;
  border-radius: 20px;
  width: 200px;
  font-size: larger;
  margin-top: 65px;
  float: right;
  
  
  
}

.main { 

  height: 450px;
  width:900px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-image: url(flag.jpg);
  border: none;
  border-radius: 50px;
}

.h3 {
  color: gold;
  text-align: center;

}

.footer {

  background-color: rgb(12, 56, 12);
  margin-top: 30px;
  color: gold;
  border:solid;
  border-color: darkkhaki;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  padding: 8px;
  width: 950px;
  margin-right: auto;
  margin-left: auto;
 
  
}
